.file-input {
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.dark .file-input {
  background-color: #3a3a3a;
  color: white;
  border: 1px solid #555;
}

.profile-completeness {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-btn {
  background-color: #B3238B;
  color: white;
  padding: 8px 16px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.section-title {
  cursor: default;
}

.dark .profile-btn {
  background-color: #6a1b57;
  color: white;
}

.profile-btn:hover {
  background-color: #97006c;
}

.dark .profile-btn:hover {
  background-color: #8a2c6a;
}

.job-info {
  font-weight: 550;
  margin-bottom: 4px;
  font-size: 15px;
}