.attachment-row {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  flex-wrap: wrap; /* prevent wrapping to new line */
}



.attachment-upload input[type="file"] {
  display: block;
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dark .attachment-upload input[type="file"] {
  background-color: #3a3a3a;
  color: white;
  border: 1px solid #555;
}